%p#notice= notice
%h1 Заказы
%table
  %thead
    %tr
      %th №
      %th Товары
      %th Общая цена
      %th{:colspan => "1"}
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        - products = order.products
        - product_quantity = products.map{|p| [p.id, order.product_quantity(p.id)]}.to_h
        %td= products.map {|p| p.name + " x#{product_quantity[p.id]}" }.join(', ')
        %td= number_to_roubles(order.sub_total)
        -#%td= link_to 'Show', order
        -#%td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Удалить', order, method: :delete, data: { confirm: 'Вы уверены?' }
%br/
-#= link_to 'New Order', new_order_path
