%h2 Корзина
%ul
  - @cart.line_items.order(:id).each do |line_item|
    %li
      %b Продукт:
      = line_item.product.name
      %b Цена:
      = number_to_roubles(line_item.product.price)
      %b Количество:
      =line_item.quantity
      %b Общая цена:
      =number_to_roubles(line_item.total_price)
    %ul
      %li
        = link_to 'Добавить один', line_item_add_path(:id => line_item), method: :post
        = link_to 'Удалить один', line_item_reduce_path(:id => line_item), method: :post
      %li
        = link_to 'Удалить позицию', line_item_path(line_item), method: :delete

%h3
  Итого:
  = number_to_roubles(@cart.sub_total)

-#= link_to 'Proceed to checkout', new_order_path
= link_to 'Оформить заказ', checkout_path
-#= link_to 'Checkout', :controller => :orders_controller, :action => :create

= link_to 'Очистить корзину', cart_path, method: :delete, data: {confirm: 'Вы уверены?'}