= form_with(model: product, local: true) do |form|
  - if product.errors.any?
    #error_explanation
      %h2
        = pluralize(product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - product.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label 'Название'
    = form.text_field :name, id: :product_name, required: true, autofocus: true, placeholder: 'Введите название продукта'
  .field
    = form.label 'Цена'
    = form.number_field :price, id: :product_price
  .actions
    = form.submit 'Готово'
