%p#notice= notice
%h1 Продукты
%table
  %thead
    %tr
      %th Название
      %th Цена
      %th{:colspan => "3"}
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= number_to_roubles(product.price)
        -#%td= link_to 'Показать', product
        %td= link_to 'Править', edit_product_path(product)
        %td= link_to 'Удалить', product, method: :delete, data: { confirm: 'Вы уверены?' }
        %td= button_to "Добавить #{product.name} в корзину", line_items_path(:product_id => product.id)
%br/
= link_to 'Новый продукт', new_product_path
