!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : 'ShopExample'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href=root_path) ShopExample
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.navbar-nav.mr-auto
            -#%li= link_to "Link 1", "/path1"
          %a.navbar-text.pull-right(href=cart_path)
            Корзина (
            -sum = 0
            - @current_cart.line_items.each{|i| sum += i.quantity }
            = sum
            )

    .container
      .row
        .col-lg-9
          = yield
        .col-lg-3
          -#.well.sidebar-nav
          -#  %h3 Sidebar
          -#  %ul.nav.nav-list
          -#    %li.nav-header Sidebar
          -#    %li= link_to "Link 1", "/path1"
          -#    %li= link_to "Link 2", "/path2"
          -#    %li= link_to "Link 3", "/path3"
      -#%footer
      -#  %p &copy; Company 2017
